{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />#}
    <!-- Ionicons -->
    {#<link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />#}
    <!-- Theme style -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
    {#<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>#}
    {% stylesheets '@AdminLteBundle/Resources/public/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets
    '@MediaBundle/Resources/public/jquery-file-upload/css/*.css'
    '@MediaBundle/Resources/public/images-select/css/*.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/css/ads/ads.css') }}"/>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AdminLteBundle/Resources/public/js/jquery-1.11.1.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AdminLteBundle/Resources/public/js/jquery_need/*.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@MediaBundle/Resources/public/js/*.js'
    '@MediaBundle/Resources/public/images-select/js/*.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@AdminLteBundle/Resources/public/js/app.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}
    {{ parent() }}
    <body class="skin-black">
    <header class="header">
        <a href="{{ url('dash_board_homepage') }}" class="logo">
            Administration
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-right" style="margin-top:8px;margin-right:8px;">
                <ul class="nav navbar-nav">
                    {#<!-- Messages: style can be found in dropdown.less-->#}
                    {#<li class="dropdown messages-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-envelope"></i>#}
                            {#<span class="label label-success">4</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 4 messages</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li><!-- start message -->#}
                                        {#<a href="#">#}
                                            {#<div class="pull-left">#}
                                                {#<img src="" class="img-circle" alt="User Image"/>#}
                                            {#</div>#}
                                            {#<h4>#}
                                                {#Support Team#}
                                                {#<small><i class="fa fa-clock-o"></i> 5 mins</small>#}
                                            {#</h4>#}
                                            {#<p>Why not buy a new awesome theme?</p>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end message -->#}


                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">See All Messages</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<!-- Notifications: style can be found in dropdown.less -->#}
                    {#<li class="dropdown notifications-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-warning"></i>#}
                            {#<span class="label label-warning">10</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 10 notifications</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="ion ion-ios7-people info"></i> 5 new members joined today#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="fa fa-warning danger"></i> Very long description here that may not#}
                                            {#fit into the page and may cause design problems#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="fa fa-users warning"></i> 5 new members joined#}
                                        {#</a>#}
                                    {#</li>#}

                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="ion ion-ios7-cart success"></i> 25 sales made#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="ion ion-ios7-person danger"></i> You changed your username#}
                                        {#</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer"><a href="#">View all</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<!-- Tasks: style can be found in dropdown.less -->#}
                    {#<li class="dropdown tasks-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-tasks"></i>#}
                            {#<span class="label label-danger">9</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">You have 9 tasks</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Design some buttons#}
                                                {#<small class="pull-right">20%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-aqua" style="width: 20%"#}
                                                     {#role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
                                                     {#aria-valuemax="100">#}
                                                    {#<span class="sr-only">20% Complete</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end task item -->#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Create a nice theme#}
                                                {#<small class="pull-right">40%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-green" style="width: 40%"#}
                                                     {#role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
                                                     {#aria-valuemax="100">#}
                                                    {#<span class="sr-only">40% Complete</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end task item -->#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Some task I need to do#}
                                                {#<small class="pull-right">60%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-red" style="width: 60%"#}
                                                     {#role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
                                                     {#aria-valuemax="100">#}
                                                    {#<span class="sr-only">60% Complete</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end task item -->#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Make beautiful transitions#}
                                                {#<small class="pull-right">80%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-yellow" style="width: 80%"#}
                                                     {#role="progressbar" aria-valuenow="20" aria-valuemin="0"#}
                                                     {#aria-valuemax="100">#}
                                                    {#<span class="sr-only">80% Complete</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end task item -->#}
                                {#</ul>#}
                            {#</li>#}
                            {#<li class="footer">#}
                                {#<a href="#">View all tasks</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<!-- User Account: style can be found in dropdown.less -->#}
                    {#<li class="dropdown user user-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-user"></i>#}
                            {#<span>{{ app.user.username }} <i class="caret"></i></span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<!-- User image -->#}
                            {#<li class="user-header bg-light-blue">#}
                                {#<img src="https://scontent-a-ams.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10168023_605753886176972_635198144_n.jpg?oh=288e049e1ec04748f934f1ec090e6d3e&oe=5542D03A"#}
                                     {#class="img-circle" alt="User Image"/>#}

                                {#<p>#}
                                    {#{{ app.user.username }}#}
                                    {#<small>#}
                                        {#Super administrateur#}
                                    {#</small>#}
                                {#</p>#}
                            {#</li>#}
                            {#<!-- Menu Body -->#}
                            {#<li class="user-body">#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Followers</a>#}
                                {#</div>#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Sales</a>#}
                                {#</div>#}
                                {#<div class="col-xs-4 text-center">#}
                                    {#<a href="#">Friends</a>#}
                                {#</div>#}
                            {#</li>#}
                            {#<!-- Menu Footer-->#}
                            {#<li class="user-footer">#}
                                {#<div class="pull-left">#}
                                    {#<a href="#" class="btn btn-default btn-flat">Profile</a>#}
                                {#</div>#}
                                {#<div class="pull-right">#}
                                    {#<a href="#" class="btn btn-default btn-flat">Sign out</a>#}
                                {#</div>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li><a href="?_switch_user=_exit" title="revenir admin" class=""><i class="fa fa-repeat"> Revenir en tant que Admin</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <div class="pull-left info">
                        <p>{{ app.user.username }}</p>
                        <a href="{{ url("core_homepage") }}" target="_blank">{{ "core.view.site"|trans }}</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    {% if(is_granted('ROLE_ADMIN')) %}
                    <li>
                        <a href="{{ url('dash_board_homepage') }}">
                            <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>Super admin</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('superadmin_multi_site') }}">
                                        <i class="fa fa-globe"></i> <span>{{ "crud.site.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('superadmin_droits') }}">
                                        <i class="fa fa-unlock-alt"></i> <span>{{ "crud.droit.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('superadmin_media') }}">
                                        <i class="fa fa-file-image-o"></i> <span>{{ "crud.media.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('superadmin_node') }}">
                                        <i class="fa fa-gears"></i> <span>{{ "crud.node.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>Administration générale</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('admin_utilisateurs') }}">
                                        <i class="fa fa-group"></i> <span>{{ "crud.user.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if app.user|id2i_secure_can('pevents','menu','view') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-camera"></i>
                                <span>{{ "pons.menu.libelle"|trans }}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('p_evenement_admin') }}">
                                        <i class="fa fa-group"></i> <span>{{ "pons.menu.galerie.libelle"|trans }}</span>
                                    </a>
                                </li>
                            </ul>

                        </li>

                    {% endif %}
                    {% if app.user|id2i_secure_can('cms','menu','view') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-newspaper-o"></i>
                                <span>CMS</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('gestion_page') }}">
                                        <i class="fa fa-group"></i> <span>{{ "crud.page.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="treeview-menu">
                                <li>
                                    {#<a href="{{ url('') }}">#}
                                    {#<i class="fa fa-group"></i> <span>{{ "crud.page.menu.libelle"|trans }}</span>#}
                                    {#</a>#}
                                </li>
                            </ul>
                        </li>

                    {% endif %}
                    {% if app.user|id2i_secure_can('core','menu_tools','view') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-wrench"></i>
                                <span>{{ "core.menu_tools.title"|trans }}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            {% if app.user|id2i_secure_can('publicite','menu','view') %}
                            <ul class="treeview-menu">
                                <li>
                                    <a href="{{ url('tools_publicite') }}">
                                        <i class="fa fa-group"></i> <span>{{ "publicite.page.menu.libelle"|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>

                    {% endif %}



                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block header %}
                    <h1>
                        {{ block('title') }}
                        {#<small>Preview</small>#}
                    </h1>
                    {#<ol class="breadcrumb">#}
                    {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
                    {#<li><a href="#">Forms</a></li>#}
                    {#<li class="active">General Elements</li>#}
                    {#</ol>#}
                {% endblock %}
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div id="ads" class="col-md-6 col-md-offset-3">
                        <div class="alert alert-danger">
                            Nous vous recommandons fortement de désactiver adblock pour ce site
                        </div>
                    </div>
                    {% set i = 0 %}
                    {% for label, flashes in app.session.flashbag.all %}
                    {% if i == 0 %}
                    <div class="col-md-6 col-md-offset-3">
                        <div class="alert alert-{{ label|lower }}">
                            {% set i = 1 %}
                            {% endif %}
                            {% for flash in flashes %}
                                {{ flash|trans }}<br/>
                            {% endfor %}
                        </div>
                        </div>
                    {% endfor %}
                    {% if app.debug %}
                        <div class="col-md-6 col-md-offset-3">
                            <div class="alert alert-info">
                                Vous êtes actuellement sur : {{ app.request.get('_controller') }}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock %}
            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    </body>
{% endblock %}
