{% extends ':default:admin.html.twig' %}

    {% block header -%}
    {{ parent() }}
    {% endblock %}
    {% block content -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Urlcible</th>
                <td>{{ entity.urlCible }}</td>
            </tr>
            <tr>
                <th>Script</th>
                <td>{{ entity.script }}</td>
            </tr>
            <tr>
                <th>Attrtarget</th>
                <td>{{ entity.attrTarget }}</td>
            </tr>
            <tr>
                <th>Attrtitle</th>
                <td>{{ entity.attrTitle }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
        </tbody>
    </table>

        
    <li>
        <a href="{{ path('tools_publicite_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
