{% extends 'ThemeBundle:Default:admin.html.twig' %}

{% block title -%}
    {{ "crud.site.title.master_title"|trans }}
{% endblock %}

{% block content -%}
   <div class="row">
       <div class="col-md-12">

           <div class="box">
               <div class="box-header">
                   <h3 class="box-title">{{ "crud.site.title.list"|trans }}</h3>

               </div><!-- /.box-header -->
               <div class="box-body">
                   <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
                       <div class="row">
                           <div class="col-xs-6"></div>
                           <div class="col-xs-6">                               <a class="btn btn-success fa fa-plus pull-right" href="{{ path('superadmin_multi_site_new') }}">
                                   {{ 'crud.site.btn.new'|trans }}
                               </a>
                               <br/><br/>                         </div>
                       </div>
                       <table id="table_Site" class="table table-bordered table-hover dataTable" aria-describedby="table_site_info">
                           <thead>
                           <tr>
                                  <th>{{ "crud.site.field.id.libelle"|trans }}</th>
                                  <th>{{ "crud.site.field.libelle.libelle"|trans }}</th>
                                  <th>{{ "crud.site.field.domaine.libelle"|trans }}</th>
                                  <th>{{ "crud.site.field.active.libelle"|trans }}</th>
                                  <th>{{ "crud.site.field.maintenance.libelle"|trans }}</th>                               <th>{{ "crud.site.lastTh"|trans }}</th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for entity in entities %}
                           <tr>
                                      <td>{{ entity.id }}</td>
                                      <td>{{ entity.libelle }}</td>
                                      <td>{{ entity.domaine }}</td>
                                      <td>{% if entity.active == 1 %}{{ "crud.site.field.active._true"|trans }}{% else %}{{ "crud.site.field.active._false"|trans }}{% endif %}</td>
                                      <td>{% if entity.maintenance == 1 %}{{ "crud.site.field.maintenance._true"|trans }}{% else %}{{ "crud.site.field.maintenance._false"|trans }}{% endif %}</td>
                               <td>
       <a  class="btn btn-info fa fa-edit" href="{{ path('superadmin_multi_site_edit', { 'id': entity.id }) }}" title="{{ "crud.site.btn.edit"|trans }}"></a>
       <a  class="btn btn-danger fa fa-trash confirm-delete" href="{{ path('superadmin_multi_site_delete', { 'id': entity.id }) }}" title="{{ "crud.site.btn.delete"|trans }}"></a>
</td>                           </tr>
                           {% endfor %}
                           </tbody>
                       </table>
               </div>
           </div>
       </div>
   </div>
{% endblock %}
