{#{% use 'form_div_layout.html.twig' with integer_widget as base_integer_widget %}#}

{%- block media_widget -%}
    {#{{ dump(data) }}#}
    <a
            href="{{ url('media_ajax_choice', {"id":id,"options":"multiple:"~multiple})  }}"
            {{ block('widget_container_attributes') }}
            disabled="disabled"
            data-button-id2i="media"
            data-toggle="modal"
            data-target="#mediaBundlePopup{{ id }}"
            >

        {{ "media.btn.select_file"|trans }} (<span id="count_{{ id }}">{{ data|length }}</span>)
    </a>
    {#{{ parent() }}#}
    {% set attr = {"class":"hide"} %}
    {{ block('choice_widget_collapsed',{"attr":{"class":"hide"}}) }}
    <div class="modal fade" id="mediaBundlePopup{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chargement des medias</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>

            </div>
        </div>
    </div>

{%- endblock -%}
