{% extends ':default:admin.html.twig' %}

    {% block header -%}
    {{ parent() }}
    {% endblock %}
    {% block content -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Droits</th>
                <td>{{ entity.droits }}</td>
            </tr>
        </tbody>
    </table>

        
    <li>
        <a href="{{ path('superadmin_droits_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
